fastapi
python-multipart
uvicorn[standard]
pydantic
pydantic_settings

sqlalchemy
# mysql-connector-python
aiomysql

APScheduler
# retry
pillow
# ffmpeg-python
coloredlogs

pytest
# requests
httpx


tenacity
aiofiles
types-aiofiles
python-ffmpeg
pytest-asyncio

trio

webdavclient3
